.RestaurantStyle{
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./todaymeal.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Rmessage{
  color: rgb(255, 255, 255);
  font-size: 30px;
  no_space_b: true;
  no_space_e: true;
}
