.RootStyle{
  height: 2200px;
  object-fit: cover;
  background-image: url("./AdminPagePic.png");
}

.RootMessage{
  color: rgb(255, 255, 255);
  font-size: 30px;
  no_space_b: true;
  no_space_e: true;
}
